.asec2{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.asec2_container{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.aboutus{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.aboutus_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}

.aboutus_text{
    color: black;
    font-size: 8rem !important;
    font-family: serif !important;
    font-weight: 900 !important;
    display: block;
    white-space: nowrap;
    margin-top: 25rem;
    position: absolute;
    justify-content: center ;
    letter-spacing: 0.1rem !important; 
}
.aboutus_image{
    width: 100%;
    height: 70rem;
    display: block;
    z-index: -1;
    opacity: .7;
    justify-content: center;
    position: relative;
}
.aboutusdescription_text{
    font-size: 1.6rem;
    font-family: Playfair Display, serif!important;
    display: block;
    margin-top: -3rem;
    margin-bottom: 5rem;
    letter-spacing: 0.2rem;
    position: relative;
    font-weight: 300;
    color: black;
    text-align: center;
}
.asec4{
    width: 100%;
    height: auto;
    display: block;
    background-color: #ebf1f5;
    position: relative;
}
.asec4_container{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    justify-content: center;
}
.arow{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
}
.arow_container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0rem 5rem 0rem 5rem;
    justify-content: flex-start;
    flex-direction: row;
}
.acol1, .acol2{
    flex: 1 1 50%;
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
}
.acol1_container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;   
}
.head1{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.head1_container{
    width:100%;
    height: 100%;
    display: flex;
    position: relative;
    padding-bottom: 2.6rem;
    justify-content: flex-start;
}
.head3{
    width: 90%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.head3_container{
    width:100%;
    height: 100%;
    display: flex;
    padding-top: 4rem;
    position: relative;
    justify-content: flex-start;
}
.head1_text{
    width: 100%;
    height: auto;
    display: flex;
    font-weight: 600;
    position: relative;
    color: rgb(0, 49, 82);
    justify-content: flex-start;
    font-size: 4rem !important;
}
.head3_text{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    font-weight: 300;
    justify-content: flex-start;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}
.aboutusmag{
    width: 100%;
    display: block;
    position: relative;
    height: 38rem;
    justify-content: center;
}
.line{
    margin: 0rem !important;
    width: 20%;
    height: .3rem;
    border: transparent;
    background-color: #008080;
}