.asec2{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.asec2_container{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.aboutus{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.aboutus_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}

.aboutus_text{
    color: black;
    font-size: 5rem !important;
    font-family: serif !important;
    font-weight: 900 !important;
    display: block;
    white-space: nowrap;
    margin-top: 25rem;
    position: absolute;
    justify-content: center ;
    letter-spacing: 0.1rem !important; 
}
.aboutus_image{
    width: 100%;
    height: 70rem;
    display: block;
    z-index: -1;
    justify-content: center;
    position: relative;
}
.aboutusdescription_text{
    font-size: 1.6rem;
    font-family: Playfair Display, serif!important;
    display: block;
    margin-top: -3rem;
    margin-bottom: 5rem;
    letter-spacing: 0.2rem;
    position: relative;
    font-weight: 300;
    color: black;
    text-align: center;
}
.asec4{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.asec4_container{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    margin-top: 10rem;
    justify-content: center;
}
.arow{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: row;
}
.arow_container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0rem 15rem 0rem 15rem;
    justify-content: flex-start;
    flex-direction: row;
}
.acol1, .acol2{
    flex: 1 1 50%;
    width: 50%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
}
.acol1_container{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;   
}
.head1{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.head1_container{
    width:100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.head2, .head3{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.head2_container{
    width:100%;
    height: 100%;
    display: flex;
    position: relative;
    margin-top: -5rem;
    justify-content: flex-start;
}
.head3_container{
    width:100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.head1_text, .head2_text{
    width: 100%;
    height: auto;
    display: flex;
    font-weight: 600;
    position: relative;
    justify-content: flex-start;
    font-size: 2.6rem;
}
.head3_text{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    font-weight: 300;
    justify-content: flex-start;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
}
.aboutusmag{
    width: 100%;
    display: block;
    position: relative;
    height: 38rem;
    justify-content: center;
}

/* section 3 Our Team

.asec3{
    min-width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
}

.asec3_container{
    min-width: 100%;
    height: auto;
    display: block;
    padding: 1rem 0rem 1rem 0rem;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
}

.aHeader{
    display: flex;
    position: relative;
    height: auto;
    min-width: 100%;
    justify-content: center;
}
.aHeader_container{
    display: flex;
    position: relative;
    height: auto;
    min-width: 100%;
    justify-content: center;
}
.aHeader_text{
    font-size: 4.0rem;
    font-family: Playfair Display, serif!important;
    display: block;
    letter-spacing: .3rem;
    position: relative;
    font-weight: 700;
    color: black;
    text-align: center;
}
.arow1{
    min-width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5rem;
    position: relative;
    justify-content: center;
}
.arow1_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.acol{
    min-width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    margin: 0rem 10rem 0rem 10rem;
    position: relative;
    flex-direction: row;
}

.acol_container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    margin: 0rem 10rem 0rem 10rem;
    flex-direction: row;
    position: relative;
}

.arow1_col1, .arow1_col2, .arow1_col3{
    flex: 1 1 33.3%;
    width: 33.3%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.arow1_col1_container, .arow1_col2_container, .arow1_col3_container{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: flex-start;
    flex-direction: column;
    height: auto;
}
.aimg1{
    width: auto;
    display: flex;
    height: auto;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}
.aimg1_container{
    width: auto;
    height: auto;
    display: flex;
    margin: 0rem 4rem 0rem 4rem;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
}
.aimg{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    display: block;
    position: relative;
    justify-content: flex-start;
}
.ah12, .ah12_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.ahealine{
    margin: 1rem 1rem -0.5rem 1rem;
    width: 100%;
    height: auto;
    font-weight: 600;
    font-size: 1.8rem;
    justify-content: center;
    text-align: center;
    color: black;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    font-family: Playfair Display, serif!important;
}
.adesignation{
    width: 100%;
    height: auto;
    font-weight: 300;
    font-size: 1rem;
    justify-content: center;
    text-align: center;
    color: black;
    letter-spacing: 0.1rem;
    white-space: nowrap;
    font-family: Playfair Display, serif!important;
}*/