.assec{
    width: 100%;
    height: auto;
    display: block;
    background-color: #07382d;
    position: relative;
}
.assec_container{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    justify-content: center;
}
.asrow{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.asrow_container{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0rem 10rem 0rem 10rem;
    position: relative;
    justify-content: center;
    flex-direction: column;
}
.asrow1, .asrow2{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.asrow1_container, .asrow2_container{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0rem;
    position: relative;
    justify-content: center;
    flex-direction: row;
}
.asrow1_container{
    margin-top: 1rem;
}
.asrow2_container{
    margin-bottom: 1rem;
}
.asrow2col1, .asrow2col2, .asrow1col1, .asrow1col2{
    flex: 1 1 50%;
    width: 50%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.asrow2col2_container, .asrow2col1_container, .asrow1col1_container, .asrow1col2_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}
.asrow2col1_container{
    left: 3%;
    margin-right: 3rem;
}
.asimg2{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.asrow1col2_container{
    flex-direction: column;
    margin-left: 3rem;
}
.asrow1col2_head, .asrow1col2_des, .asrow1col2_link{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.asrow1col2_head_container, .asrow1col2_des_container, .asrow1col2_link_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.asrow1col2_head_text, .asrow1col2_des_text, .asrow1col2_link_text{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    font-family: serif;
    letter-spacing: 0.1rem;
}
.asrow1col2_des_text{
    margin-top: 5rem;
}
.asrow1col2_head_text{
    top: 10% !important;
    font-size: 3.5rem;
    font-weight: bold;
    color: #DAA03DFF;
}
.asrow1col2_des_text{
    font-size: 2rem;
    font-weight: 300;
    color: white;
}
.asrow1col2_link_container{
    margin-top:8rem;
    bottom: 10%;
}
.asrow1col2_link_text{
    width: 20rem;
    height: 5rem;
    display: block;
    position: relative;
    background-color: transparent;
    border: .3rem solid #DAA03DFF;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.7rem;
    color: white;
}

.asrow1col2_link_text:hover{
    transform: scale(1.1);
    transition: 400ms;
    background-color: #DAA03DFF;
    border: .1rem solid #DAA03DFF;
    color: white;
}