
.sec4{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    margin-top: 10rem;
}
.sec4_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.see_more{
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.see_more_container{
    width: 100%;
    color: black;
    display: flex;    
    margin-top: 1.0rem;
    margin-right: 5.0rem;
    justify-content: flex-end;
    position: relative;
}

.more_text{
  background-color: transparent;
  color: black;
  font-size: 2.0rem;
  height: 4.0rem;
  border-radius: .5rem;
}
.more_text:hover{
    transform: scale(1.1);
}
.col11, .col12, .col13{
    flex: 1 1 33.3%;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.col11_container, .col12_container, .col13_container{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img11, .img12, .img13{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    position: relative;
}
.img12:hover, .img13:hover, .img11:hover .pimg {
    opacity: 0.3;
}

.img12:hover, .img13:hover, .img11:hover .pdetails {
    opacity: 1;
    letter-spacing: .2rem;
}
.img11_container, .img12_container, .img13_container{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    position: relative;   
}
.pimg{
    width: 100%;
    height: 30rem;
    display: block;
    position: relative;
    justify-content: center;
}
.frow1{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.frow1_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin: 0rem 10rem 0rem 10rem;
    justify-content: center;
}
.frow2{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.frow2_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin: 5rem 10rem 5rem 10rem;
    justify-content: center;
}
.scol1{
    min-width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
}
.scol1_container{
    width: 100%;
    height: 100%;
    margin: -1rem 5rem 0rem 5rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.pdetails{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    background-color: #5F5F5F;
    color: white;
    flex-direction: column;
}

.pdetails_container{
    height: auto;
  width: 80%;
  left: 20%;
  top: 10%;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
}
.year{
    height: auto;
    width: 100%;
    color: white;
    justify-content: flex-start;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.year_container{
    height: auto;
    width: auto;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.year_text{
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 1;
    color: white;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-family: serif;
    box-sizing: border-box;
}
.address_block11{
    width: 100%;
    height: auto;
    margin-top: 14rem;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
}
.address_block12{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 22rem;
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
}
.address_block11_container{
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  justify-content: flex-start;
  box-sizing: border-box;
}
.address_block12_container{
  width: 100%;
  height: auto;
  display: flex;
  position: absolute;
  justify-content: flex-start;
  box-sizing: border-box;
}
.address_block11_text .address_block12_text{
    display: block;
    position: absolute;
    height: auto;
    font-weight: bold;
    color: white;
    z-index: 1;
    width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
    font-family: serif;
    box-sizing: border-box;
}
.view_project, .view_project_container{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    margin-top: 12.0rem;
    box-sizing: border-box;
}
.view_project_text{
    font-size: 1.6rem !important;
    color: white;
    z-index: 1;
    font-family: serif;
    background-color: transparent;
    font-weight: 500 !important;
    border: .2rem solid #001a00;
    white-space: nowrap;
    letter-spacing: .1rem;
    display: block;
    position: relative;
}
.view_project_text:hover{
    transform: scale(1.1);
    transition: 400ms;
    background-color: #001a00;
    border: 0.1rem solid #001a00;
    color: white;
  }
/*  footer  */
.sec5{
    width: 100%;
    height: auto;
    display: block;
    bottom: 0;
    position: absolute;
}
.sec5_container{
    width: 100%;
    height: 10px;
    bottom: 0;
    display: block; 
    justify-content: center;
    position: absolute;
}
.frow{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.frow_container{
    width: 100%;
    height: auto;
    background-color: black;
    display: flex;
    position: relative;
    justify-content: center;
}

.fcol{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;
}
.fcol_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: row;   
}
.fcol1, .fcol2, .fcol3{
    flex: 1 1 33.3%;
    width: 33.3%;
    height: auto;
    margin: 1rem 3rem 1rem 3rem;
    display: flex;
    position: relative;
    justify-content: flex-start;
}
.fcol1_container, .fcol2_container, .fcol3_container{
    flex: 1 1 33.3%;
    width: 33.3%;
    height: auto;
    margin: 1rem;
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.ftext1, .cw_text{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.ftext1_container, .cw_text_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.f_middle_col{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.f_middle_col_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.f_middle_text{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
.f_middle_text_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}
.fmenu{
    width: 100%;
    height: auto;
    display: flex;
    text-decoration: none;
    list-style: none;
    position: relative;
    justify-content: center;
}

.fmenuitem1{
    margin-right: 4rem;
    font-size: 1.6rem;
    color: white;
    justify-content: center;
    text-decoration: none;
}
.text_a{
    display: block; 
    position: relative; 
    font-size: 1.6rem; 
    letter-spacing: 0.1rem; 
    color: white;
    justify-content: center;
    white-space: nowrap;
}
.text_p{
    display: block; 
    position: relative; 
    font-size: 1.6rem;
    justify-content: center;
    white-space: nowrap;
    letter-spacing: 0.1rem; 
    color: white;
}
