.sec4{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.sec4_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.see_more{
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.see_more_container{
    width: 100%;
    color: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.more_text{
    color: black;
    font-size: 2.0rem;
    margin-right: 12rem;
    margin-top: -5rem;
}
.col11, .col12, .col13{
    flex: 1 1 33.3%;
    width: 33.3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.col11_container, .col12_container, .col13_container{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img11, .img12, .img13{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    position: relative;
}

.img11:hover .pimg {
    opacity: 0.1;
}

.img11:hover .pdetails {
    opacity: 1;
}
.img12:hover .pimg {
    opacity: 0.1;
}

.img12:hover .pdetails {
    opacity: 1;
}
.img13:hover .pimg {
    opacity: 0.1;
}

.img13:hover .pdetails {
    opacity: 1;
}

.img11_container, .img12_container, .img13_container{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    margin-left: 0.5rem;
    position: relative;   
}

.pimg{
    width: 100%;
    height: 25rem;
    display: block;
    position: relative;
    justify-content: center;
}
.frow1{
    min-width: 100%;
    height: auto;
    display: flex;
    margin: 0rem 10rem 5rem 0rem;
    position: relative;
    justify-content: center;
}
.frow1_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    margin: 0rem 10rem 0rem 10rem;
    justify-content: center;
}
.scol1{
    min-width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    margin: -5rem 10rem 0rem 10rem;
    position: relative;
    flex-direction: row;
}
.scol1_container{
    width: 100%;
    height: 100%;
    margin: -1rem 10rem 0rem 10rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
}


.pdetails{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    background-color: #5F5F5F;
    color: white;
    flex-direction: column;
}

.pdetails_container{
    height: auto;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    margin: 0rem 0rem 0rem 5rem;
    flex-direction: column;
    position: absolute;
}
.year{
    height: auto;
    width: 100%;
    color: white;
    justify-content: flex-start;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.year_container{
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.year_text{
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    color: white;
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-family: serif;
    box-sizing: border-box;
    z-index: 3rem;
}
.address_block11{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    margin-top: 15rem;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 0.8rem;
}
.address_block12{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    margin-top: 20rem;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 0.8rem;
}
.address_block11_container{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
}
.address_block12_container{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
}
.address_block11_text .address_block12_text{
    display: block;
    position: absolute;
    height: auto;
    font-weight: bold;
    letter-spacing: 1.5rem;
    color: white;
    width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
    font-size: 2.6rem;
    font-family: serif;
    box-sizing: border-box;
}
.view_project, .view_project_container{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 12rem;
    position: absolute;
    justify-content: flex-start;
    margin-left: 0.6rem;
    box-sizing: border-box;
}

.view_project_text{
    font-size: 1.6rem !important;
    text-decoration: none;
    color: white;
    font-weight: 900 !important;
    white-space: nowrap;
    letter-spacing: 0.1rem;
    display: block;
    position: absolute;
    font-weight: 600;
    font-family: serif;
}