*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.sec2{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    justify-content: center;
}
.sec2_container{
    width: 100%;
    height: 100%;
    padding: .1rem;
    display: flex;
    position: relative;
    justify-content: center;

}
.pdheader, .pdheader_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.pdtext, .pdtext_container{
    width: 90%;
    height: auto;
    display: flex;
    position: absolute;
    top: 30%;
    z-index: 1;
    opacity: 0.9;
    left: 6%;
    justify-content: flex-start;
}
.pdtext_container{
    flex-direction: column;
}
.pdaddress, .pdaddress_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}
.pdaddress_text{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    font-size: 3rem;
    font-weight: 500;
}
.pdh1, .pdh1_container, .pdh3, .pdh3_container, .pdh2, .pdh2_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}
.pdh_text{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    font-size: 6rem;
    font-weight: bold;
}
.sec3,.sec3_container{
    width: 100%;
    height: auto;
    display: block;
    background-color: rgb(216, 218, 218);
    position: relative;
    justify-content: center;
}
.pdimg, .pdimg_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.items{
	display: flex;
	flex-wrap: wrap;
}
.items .item{
    padding: 0.7rem;
    width: calc(100%/2);
}
.items .item span{
	display: flex;
	width: 100%;
    height: auto;
	overflow: hidden;
}
.img1{
    width: 100%;
    padding: 1rem;
    height:40rem;
}
.pdinfo, .pdinfo_container{
    width: 100%;
    height: auto;
    display: flex;
    padding: 1rem;
    position: relative;
    justify-content: flex-start;
}
.header1, .pdinfo_text{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    white-space: nowrap;
    letter-spacing: .15rem;
}
.pdinfo_text{
    font-size: 2rem;
    font-weight: 500;
}
.header1{
    font-size: 4rem;
    font-weight: bold;
}
@media(max-width:500px){
    .items .item{
        width: 100%;
    }
    .img1{
        width: 100%;
        height: 70rem;
    }
}