.ppsec2{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.ppsec2_container{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.project_image{
    width: 100%;
    height: 70rem;
    display: block;
    z-index: -1;
    opacity: .5;
    justify-content: center;
    position: relative;
}
.projectlist{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
}
.projectlist_container{
    width: 100%;
    height: auto;
    font-family: 'Playfair Display', serif;
    display: flex;
    position: relative;
    justify-content: center;
}
.project_text{
    color: black;
    font-size: 5rem !important;
    font-family: 'Playfair Display', serif !important;
    font-weight: 900 !important;
    display: block;
    white-space: nowrap;
    margin-top: 15rem;
    position: absolute;
    justify-content: center;
    letter-spacing: 0.1rem !important;
}
.sec4{
    width: 100%;
    height: auto;
    display: block;
    position: relative;
}
.sec4_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
.see_more{
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.see_more_container{
    width: 100%;
    color: black;
    display: flex;
    margin-top: 1rem;
    margin-right: 5rem;
    justify-content: flex-end;
    position: relative;
}

.more_text{
    background-color: transparent;
    color: black;
    font-size: 2.0rem;
    height: 4rem;
    border-radius: 0.5rem;
}
.more_text:hover{
    transform: scale(1.1);
    background-color: blanchedalmond;
}
.col11, .col12, .col13{
    flex: 1 1 33.3%;
    width: 33.3%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.col11_container, .col12_container, .col13_container{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.img11, .img12, .img13{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    position: relative;
}

.img11:hover .pimg {
    opacity: 0.1;
}

.img11:hover .pdetails {
    opacity: 1;
    letter-spacing: .2rem;
}
.img12:hover .pimg {
    opacity: 0.1;
}

.img12:hover .pdetails {
    opacity: 1;
    letter-spacing: .2rem;
}
.img13:hover .pimg {
    opacity: 0.1;
}

.img13:hover .pdetails {
    opacity: 1;
    letter-spacing: .2rem;
}

.img11_container, .img12_container, .img13_container{
    width: 100%;
    min-height: 100%;
    justify-content: center;
    display: flex;
    margin-left: 0.5rem;
    position: relative;   
}

.pimg{
    width: 100%;
    height: 30rem;
    display: block;
    position: relative;
    justify-content: center;
}
.frow2, .frow1{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.frow2_container, .frow1_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.frow1{
    margin-top: 5rem;
}
.frow2_container{
    margin-top: 1rem;
}
.scol1{
    min-width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
}
.scol1_container{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    position: relative;
}


.pdetails{
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: .5s ease;
    background-color: #5F5F5F;
    color: white;
    flex-direction: column;
}

.pdetails_container{
    height: auto;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    display: flex;
    margin: 0rem 0rem 0rem 5rem;
    flex-direction: column;
    position: absolute;
}
.year{
    height: auto;
    width: 100%;
    color: white;
    justify-content: flex-start;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.year_container{
    height: auto;
    width: auto;
    margin-left: 1rem;
    margin-top: 1rem;
    box-sizing: border-box;
    display: flex;
    position: absolute;
}

.year_text{
    display: block;
    position: absolute;
    height: auto;
    width: 100%;
    color: white;
    font-weight: 100;
    letter-spacing: 0.1rem;
    font-size: 1.8rem;
    font-family: serif;
    box-sizing: border-box;
    z-index: 3rem;
}
.address_block11{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    margin-top: 13rem;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 0.8rem;
}
.address_block12{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    margin-top: 20rem;
    justify-content: flex-start;
    box-sizing: border-box;
    margin-left: 0.8rem;
}
.address_block11_container{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
}
.address_block12_container{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    box-sizing: border-box;
}
.address_block11_text .address_block12_text{
    display: block;
    position: absolute;
    height: auto;
    font-weight: bold;
    letter-spacing: 1.5rem;
    color: white;
    width: 100%;
    white-space: nowrap;
    justify-content: flex-start;
    font-size: 3rem !important;
    font-family: serif;
    box-sizing: border-box;
}
.view_project, .view_project_container{
    width: 100%;
    height: auto;
    display: flex;
    position: absolute;
    justify-content: flex-start;
    margin-top: 12.0rem;
    box-sizing: border-box;
}

.view_project_text{
    font-size: 1.6rem !important;
    color: white;
    z-index: 1;
    font-family: serif;
    background-color: transparent;
    font-weight: 500 !important;
    border: .2rem solid #001a00;
    white-space: nowrap;
    letter-spacing: .1rem;
    display: block;
    position: relative;
}
.view_project_text:hover{
    transform: scale(1.1);
    transition: 400ms;
    background-color: #001a00;
    border: 0.1rem solid #001a00;
    color: white;
}
.pheader{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.pheader_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.pheader_text{
    font-size: 5rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: .2rem;
    color: #07382d;
}
.line{
    width: 10%;
    height: .3rem;
    display: block;
    position: relative;
    justify-content: flex-start;
    text-align: left;
    margin-left: 0rem;
    border: .1rem solid #DAA03DFF;
    background-color: #DAA03DFF;
}