/* feedback section*/
.f1sec{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
.f1sec_container{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  justify-content: center;
}
.f1header{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  text-align: center;
  margin-top: 10.0rem;
  justify-content: center;
}
.f1header_container{
  width: 100%;
  height: auto;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
}
.f1text{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  font-size: 5.0rem;
  text-align: center;
  font-weight: bold;
  line-height: 1.0rem;
  letter-spacing: .3rem;
  color: hsl(115, 96%, 20%);
  font-family: 'Playfair Display', serif !important;
  justify-content: center;
}

.f1description{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  text-align: center;
  justify-content: center;
}
.f1description_container{
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
}
.f1text1{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  font-size: 1.8rem;
  text-align: center;
  font-weight: bold;
  line-height: 2.0rem;
  color: #012119;
  font-family: 'Playfair Display', serif !important;
  justify-content: center;
}
.freview{
  width: 100%;
  height:auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.freview_container{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: row;
}

.f1col1{
  display: flex;
  position: relative;
  margin-left: .8rem;
  margin-right: .8rem;
  height: auto;
  text-align: center;
  justify-content: center;
}
.f1col1:hover{
  /* if there is any problem after loading then delete this line*/
  transform: scale(1.05);
  border-radius: 2.0rem;
  box-shadow: .2rem .4rem .4rem .5rem rgba(0, 0, 0, 0.2), .2rem .6rem 2.0rem .5rem rgba(0, 0, 0, 0.19);
}
.f1col1_container{
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #e6e6e6;
  position: relative;
  border-radius: 2.0rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
.fprofile{
  height: 20%;
  width: 100%;
  margin-top: 1.0rem;
  display: flex;
  text-align: center;
  position: relative;
  justify-content: center;
}
.fprofile_container{
  width: 20%;
  height: 100%;
  display: flex;
  text-align: center; 
  position: relative;
  justify-content: center;
}
.fimg{
  border-radius: 50%;
  height: 100%;
  border: .4rem solid white;
  width: 100%;
  text-align: center;
  display: block;
  position: relative;
  justify-content: center;
}

.freviewtext, .fname, .fdesignation{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.freviewtext_container, .fname_container, .fdesignation_container{
  width: 100%;
  height: auto;
  display: flex;
  margin: 0rem 5.0rem 0rem 5.0rem;
  position: relative;
  justify-content: center;
}
.freviewtext1{
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  justify-content: center;
  font-size: 1.8rem;
  margin-top: 2.0rem;
  text-align: center;
  font-family: 'Playfair Display',serif !important;
  font-weight: 300;
  line-height: 3.0rem;
}
.fanmetext{
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1.0rem;
  text-align: center;
  position: relative;
  justify-content: center;
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Playfair Display', serif;
  color: #00802b;
}
.fdesignationtext{
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  position: relative;
  justify-content: center;
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: .5rem;
  margin-bottom: 5.0rem;
  font-family: serif;
  color:  #999999;
}
.owl-stage{
  margin: 2.0rem 0rem 2.0rem 0rem;
}
.owl-dots{
  display: none;
}
.owl-nav{
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  bottom: 50%;
  margin-top: 0rem;
}
.owl-prev{
  width: 3%;
  border-radius: 50%;
  margin: 0rem !important;
  left: 1.6%;
  top: 38%;
  display: flex !important;
  position: absolute !important;
}
.owl-next{
  width: 3%;
  border-radius: 50%;
  top: 38%;
  right: 1.6%;
  margin: 0rem !important;
  display: flex !important;
  position: absolute !important;
  justify-content: flex-end;
}
.owl-prev:hover, .owl-next:hover{
  background-color: transparent !important;
}
span{
  width: 5.0rem;
  height: 4.5rem;
  font-size: 6rem;
  font-weight: 100;
  border-radius: 50%;
  background-color: transparent !important;
}
span:hover{
  color: black;
}
.contectarea{
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  justify-content: center;
}
.contectarea_container{
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}
.owl-item{
  background-color: white;
}