.sec3{
    min-width: 100%;
    height: auto;
    display: block;
    position: relative;
    overflow: visible;
    margin-top: 10.0rem;
    box-sizing: border-box;
}

.sec3_container{
    min-width: 100%;
    height: auto;
    display: block;
    padding: 1.0rem 0rem 1.0rem 0rem;
    position: relative;
    overflow: visible;
    box-sizing: border-box;
}

.sHeader{
    display: flex;
    position: relative;
    height: auto;
    min-width: 100%;
    justify-content: center;
}
.sHeader_container{
    display: flex;
    position: relative;
    height: auto;
    min-width: 100%;
    justify-content: center;
}
.sHeader_text{
    font-size: 5.0rem;
    font-family: 'Playfair Display', serif!important;
    display: block;
    letter-spacing: .3rem;
    position: relative;
    font-weight: 700;
    color: #DAA03DFF;
    justify-content: center;
    text-align: center;
}
.sdescription{
    display: flex;
    position: relative;
    height: auto;
    min-width: 100%;
    justify-content: center;
    text-align: center;
}
.sdescription_container{
    display: flex;
    position: relative;
    height: auto;
    min-width: 100%;
    justify-content: center;
    text-align: center;
}
.sdescription_text{
    font-size: 2.0rem;
    font-family: 'Playfair Display', serif!important;
    display: block;
    margin-bottom: 10.0rem;
    letter-spacing: .2rem;
    position: relative;
    font-weight: 500;
    justify-content: center;
    color: #07382d;
    text-align: center;
}

.srow1{
    min-width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 5.0rem;
    position: relative;
    justify-content: center;
}
.srow1_container{
    min-width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.scol{
    min-width: 100%;
    height: auto;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
}

.scol_container{
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    margin: 0rem 10.0rem 0rem 10.0rem;
    flex-direction: row;
    position: relative;
}

.row1_col1, .row1_col2, .row1_col3{
    flex: 1 1 33.3%;
    width: 33.3%;
    margin: 0rem 10.0rem 0rem 10.0rem;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.row1_col1_container, .row1_col2_container, .row1_col3_container{
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    height: auto;
}
.row1_col1:hover, .row1_col2:hover, .row1_col3:hover{
    transform: scale(1.2);
    border-radius: 2.0rem;
    box-shadow: .2rem .4rem .8rem .5rem #ECEAEA , .2rem .6rem 2.0rem .5rem #ECEAEA ; 
}
.img1{
    width: auto;
    display: flex;
    height: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.img1_container{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 0rem 4.0rem 0rem 4.0rem;
    position: relative;
    justify-content: center;
}
.img2{
    width: auto;
    display: flex;
    height: auto;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.img2_container{
    width: auto;
    height: auto;
    display: flex;
    margin: 0rem 4.0rem 0rem 4.0rem;
    flex-direction: column;
    position: relative;
    justify-content: center;
}
.simg{
    width: 10.0rem;
    height: 10.0rem;
    text-align: center;
    justify-content: center;
    display: flex;
    position: relative;
    justify-content: center;
}
.h12, .h12_container{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: center;
}
.shealine{
    margin: 1.0rem;
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 2.3rem;
    justify-content: center;
    text-align: center;
    color: black;
    letter-spacing: .1rem;
    white-space: nowrap;
    font-family: 'Playfair Display', serif!important;
}
.s1img{
    width: 10.0rem;
    height: 10.0rem;
    text-align: center;
    justify-content: center;
    display: block;
    position: relative;
    justify-content: center;
}