/*#008080*/
    * {box-sizing: border-box;}
    
    body {
        font-family: 'Playfair Display', serif; 
        margin:0rem;
    }
    
    .mySlides {
        display: inline-block;
    }
    
    img {
      min-width: 100%;
      height: 71.0rem;
      vertical-align: middle;
    }
    
    .sec2{
        min-width: 100%;
        min-height: auto;
        display: block;
        position: relative;
    }

    /* Slideshow container */
    .slideshow-container {
      width: 100%;
      position: relative;
    }
    
    /* Next & previous buttons */ 
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 1.6rem;
      margin-top: -2.2rem;
      color: white;
      font-weight: bold;
      font-size: 1.8rem;
      transition: 0.1s ease;
      border-radius: 0 0.3rem 0.3rem 0;
      user-select: none;
    }
    
    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 0.3rem 0 0 0.3rem;
    }
    
    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }
    
    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 1.5rem;
      padding: 0.8rem 1.2rem;
      position: absolute;
      bottom: 0.8rem;
      width: 100%;
      text-align: center;
    }
    
    /* Number text (1/3 etc) */
    .address {
      height: 100%;
      min-width: auto;
      display: flex;
      justify-content: flex-start;
      box-sizing: border-box;
      position: absolute;
    }
    .address_container{
      height: 100%;
      min-width: auto;
      justify-content: center;
      box-sizing: border-box;
      display: flex;
      z-index: 1;
      flex-direction: column;
      position: absolute;
    }
    .address_block1{
      height: auto;
      width: auto;
      margin: 0rem 0rem -2.5rem 9.5rem;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .address_block_container1{
      height: auto;
      width: auto;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .address_text{
      font-size: 2rem;
      font-family: 'Playfair Display', serif!important;
      color: black;
      letter-spacing: 0.1rem;
      display: block;
      font-weight: bold;
      white-space: nowrap;
    }
    .address_block2{
      height: auto;
      width: auto;
      margin: 2rem 0rem 0rem 9.5rem;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .address_block_container2{
      height: auto;
      width: auto;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .heading{
      font-size: 4.4rem;
      font-family: 'Playfair Display', serif !important;
      color: black;
      text-align: left;
      font-weight: bold;
      display: block;
      letter-spacing: 0.1rem;
      white-space: nowrap;
    }
    .address_block3{
      height: auto;
      width: auto;
      margin: -1rem 0rem 0rem 9.5rem;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .address_block_container3{
      height: auto;
      width: auto;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .address_block4{
      height: auto;
      width: auto;
      margin: -1rem 0rem 0rem 9.5rem;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .address_block_container4{
      height: auto;
      width: auto;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .learn_more{
      height: auto;
      width: auto;
      z-index: 1;
      margin: 2rem 0rem 0rem 9.8rem;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .learn_more_container{
      height: auto;
      width: 14rem;
      display: flex;
      margin: 0rem;
      position: relative;
    }
    .learnmore_text{
      height: 4rem;
      width: auto;
      font-size: 1.6rem;
      border-radius: 1rem;
      color: #fff;
      font-weight: bold;
      background-color: #003152;
      border: 0.1rem solid #003152;
      display: block;
      margin: 0rem;
      padding: 0rem 2rem 0rem 2rem;
      letter-spacing: 0.1rem;
      white-space: nowrap;
    }
    .learnmore_text:hover{
      transform: scale(1.1);
      transition: 400ms;
      color: #fff;
      background-color: #001a00;
      border: 0.1rem solid #001a00;
    }
    .description{
      height: auto;
      width: auto;
      margin: -1rem 0rem 0rem 9.5rem;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .description_container{
      height: auto;
      width: auto;
      box-sizing: border-box;
      display: block;
      position: relative;
    }
    .description_info{
      font-family: 'Playfair Display', serif !important;
      font-size: 2.8rem;
      color: black;
      text-align: left;
      font-weight: bold;
      display: block;
      letter-spacing: 0.1rem;
      white-space: nowrap;
    }
    .active{
      background-color: #717171;
    }
    
    .w3-animate-left{
        position:relative;
        animation:animateright 0.3s
    }
    @keyframes animateright{
        from{
            right:-300px;
            opacity:0;
        } 
        to{
            right:0px;
            opacity:1;
        }
    }
    .slide_img{
      width: 100%;
      opacity: 0.5;
      display: block;
    }